@font-face {
    font-family: "noia";
    src: url("CAMPUS PERSONAL USE.ttf") format("opentype");
}
@font-face {
    font-family: "txt";
    src: url("Mayan.ttf") format("opentype");
}
@font-face {
    font-family: "pingu";
    src: url("Penguin-Regular.ttf") format("opentype");
}
body {
    background-color: #DDDDDD;
}
header {
    background-color: #888888;
    height: 100%;
    width: 100%;
    margin: 0 0 5% 0;
    text-align: center;
    font: normal 7em noia;
    line-height: 250px;
}
.prime { 
    margin-top: 5%;
}
label {
    display: inline-block;
    cursor: pointer;
}
form h2 {
    font-family: pingu;
    font-weight: 550;
}
li {
    font: normal 30px txt;
}
form {  
    width: 54%;
    margin-left: 10%;
    border: 10px groove black;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}
#fim:hover {
    background-color: #F59A01;
    transition: 0.5s;
    cursor: pointer;
}
#musinoia {
    height: 1000px;
    background-color: #888888;
    box-shadow: 3px 3px 3px #F59A01;
    width: 25%;
    float: right;
    margin-right: 3%;
    border-radius: 10px;
}
#musinoia h2{
    font: normal 30px txt;
    text-align: center;
    margin-top: 100px;
}
#musi {
    height: 26.3%;
    width: 100%;
    margin-top: 100px;
}
input {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
#fim {
    margin-top: 50px;
    width: 30%;
    height: 100px;
    font: normal 2.7em pingu;
    margin-left: 37%;
}
footer {
    margin-top: 100px;
    background-image: url("pexels-life-of-pix-8892 (1).jpg");
    height: 250px;
}
footer h2 {
    text-align: center;
    font: normal 80px txt;
    text-shadow: 3px 3px 3px black;
    color: white;
    line-height: 150px;
}
footer p {
    text-align: center;
    font: normal 20px txt;
    color: white;
    text-shadow: 3px 3px 3px black;
    width: 100%;
}
h2 {
    font: normal 50px noia;
    text-align: center;
}
label:hover {
    color: #F59A01;
}